In [1]:
import pandas as pd

### População do Amazonas em 2010 segundo Censo Demográfico

In [13]:
dfPop = pd.read_csv("dados/Pop-2010-AM-Censo.csv", sep=";")
dfPop

               Idade  Homens  Mulheres  Ignorados
0     Menos de 1 ano   36368     36618          0
1         1 a 4 anos  151798    146582          0
2         5 a 9 anos  195995    188287          0
3       10 a 14 anos  203418    197279          0
4       15 a 19 anos  182546    182215          0
5       20 a 24 anos  170242    169198          0
6       25 a 29 anos  161273    162253          0
7       30 a 34 anos  142710    143038          0
8       35 a 39 anos  116794    115961          0
9       40 a 44 anos   98058     93727          0
10      45 a 49 anos   80209     77188          0
11      50 a 54 anos   64117     61295          0
12      55 a 59 anos   47832     48812          0
13      60 a 64 anos   35546     35018          0
14      65 a 69 anos   24907     25659          0
15      70 a 74 anos   17698     18746          0
16      75 a 79 anos   11799     13293          0
17      80 a 84 anos    6812      8358          0
18      85 a 89 anos    3002      4083          0
19      90 a 94 anos    1478      2072          0
20      95 a 99 anos     468       972          0
21  100 anos ou mais     108       155          0
22    Idade ignorada       0         0          0

### Óbitos do Amazonas em 2010 segundo Censo Demográfico, SIM/DATASUS e Registro Civil

In [3]:
dfObitosSIM = pd.read_csv("dados/Obitos-2010-AM-SIM.csv", sep=";")
dfObitosSIM

               Idade  Homens  Mulheres  Ignorados
0     Menos de 1 ano     656       515          7
1         1 a 4 anos     158       140          0
2         5 a 9 anos      73        59          0
3       10 a 14 anos      77        64          0
4       15 a 19 anos     291        98          0
5       20 a 24 anos     474        99          0
6       25 a 29 anos     439       124          0
7       30 a 34 anos     374       160          0
8       35 a 39 anos     365       145          0
9       40 a 44 anos     356       179          0
10      45 a 49 anos     389       231          0
11      50 a 54 anos     447       272          0
12      55 a 59 anos     490       284          0
13      60 a 64 anos     545       321          0
14      65 a 69 anos     516       349          0
15      70 a 74 anos     608       455          0
16      75 a 79 anos     597       439          0
17      80 a 84 anos    1186      1292          0
18      85 a 89 anos       0         0          0
19      90 a 94 anos       0         0          0
20      95 a 99 anos       0         0          0
21  100 anos ou mais       0         0          0
22    Idade ignorada      20         3          3

In [4]:
dfObitosCenso = pd.read_csv("dados/Obitos-2010-AM-Censo.csv", sep=";")
dfObitosCenso

               Idade  Homens  Mulheres  Ignorados
0     Menos de 1 ano     654       553          0
1         1 a 4 anos     256       188          0
2         5 a 9 anos     108        80          0
3       10 a 14 anos     105        81          0
4       15 a 19 anos     350       147          0
5       20 a 24 anos     475       140          0
6       25 a 29 anos     455       144          0
7       30 a 34 anos     380       160          0
8       35 a 39 anos     345       184          0
9       40 a 44 anos     329       207          0
10      45 a 49 anos     351       229          0
11      50 a 54 anos     414       287          0
12      55 a 59 anos     468       309          0
13      60 a 64 anos     557       359          0
14      65 a 69 anos     525       428          0
15      70 a 74 anos     661       478          0
16      75 a 79 anos     673       467          0
17      80 a 84 anos     500       522          0
18      85 a 89 anos     420       452          0
19      90 a 94 anos     180       240          0
20      95 a 99 anos     100       198          0
21  100 anos ou mais      32        76          0
22    Idade ignorada       2         1          0

In [5]:
dfObitosRegistroCivil = pd.read_csv("dados/Obitos-2010-AM-Registro-Civil.csv", sep=";")
dfObitosRegistroCivil

               Idade  Homens  Mulheres  Ignorados
0     Menos de 1 ano     359       278          0
1         1 a 4 anos     120        96          0
2         5 a 9 anos      60        42          0
3       10 a 14 anos      74        62          0
4       15 a 19 anos     267        98          0
5       20 a 24 anos     436       102          0
6       25 a 29 anos     519       175          0
7       30 a 34 anos     382       176          0
8       35 a 39 anos     398       206          0
9       40 a 44 anos     334       157          0
10      45 a 49 anos     346       239          0
11      50 a 54 anos     417       244          0
12      55 a 59 anos     516       325          0
13      60 a 64 anos     489       308          0
14      65 a 69 anos     529       372          0
15      70 a 74 anos     545       400          0
16      75 a 79 anos     543       408          0
17      80 a 84 anos     450       405          0
18      85 a 89 anos     329       336          0
19      90 a 94 anos     189       225          0
20      95 a 99 anos      79       110          0
21  100 anos ou mais      26        33          0
22    Idade ignorada      13         6          0

## Ajustes e Correções
- Distribuição proporcional dos Ignorados (pro-rata)
- Agrupamento dos óbitos das faixas com mais de 80 anos na faixa 80+. Esta abordage foi utilizada considerando os dados SIM estão agregados por idade até a faixa de 80+, assim será feito este mesmo ajuste para Censo e para Registro Civil

In [6]:
# Função de distribuição proporcional dos ignorados
def ign_pro_rata_ditro(dfAux):
    for col in ["Homens", "Mulheres"]:
        # formula distribuição pro_rata: (obitos da faixa etária) + (Ignorados/total de óbitos) * obitos da faixa etária)
        dfAux[col] = dfAux[col] + (dfAux[col].iloc[22]/dfAux[col].sum()) * dfAux[col]
        dfAux[col] = round(dfAux[col],1)
        dfAux[col].iloc[22] = 0

# SIM possui ignorados na faixa "Menos de 1 ano"
homens = dfObitosSIM["Homens"].iloc[0]
mulheres = dfObitosSIM["Mulheres"].iloc[0]
ign = dfObitosSIM["Ignorados"].iloc[0]
tot = mulheres + homens
dfObitosSIM["Homens"].iloc[0] = homens + (ign/tot) * homens
dfObitosSIM["Mulheres"].iloc[0] = mulheres + (ign/tot) * mulheres

ign_pro_rata_ditro(dfObitosRegistroCivil)
ign_pro_rata_ditro(dfObitosCenso)
ign_pro_rata_ditro(dfObitosSIM)

/opt/anaconda3/envs/DM017/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
# Função para agrupamento de óbitos na faixa 80+
def agruparIdades(dfAux):
    for col in ["Homens", "Mulheres"]:
        dfAux[col].iloc[17] =  dfAux[col].iloc[17] + dfAux[col].iloc[18] + dfAux[col].iloc[19] + dfAux[col].iloc[20] + dfAux[col].iloc[21]
        dfAux['Idade'].iloc[17] = "80+"

#
#agruparIdades(dfObitosRegistroCivil)
#agruparIdades(dfObitosCenso)
#agruparIdades(dfObitosSIM)
#agruparIdades(dfPop)

# Remoção de linhas e colunas
#dfObitosRegistroCivil = dfObitosRegistroCivil.drop([18,19,20,21,22])
#dfObitosCenso = dfObitosCenso.drop([18,19,20,21,22])
#dfObitosSIM = dfObitosSIM.drop([18,19,20,21,22])
#dfPop = dfPop.drop([18,19,20,21,22])

In [8]:
# Remoção de linhas e colunas

dfObitosRegistroCivil.drop(['Ignorados'], axis=1, inplace=True)
dfObitosCenso.drop(['Ignorados'], axis=1, inplace=True)
dfObitosSIM.drop(['Ignorados'], axis=1, inplace=True)
dfPop.drop(['Ignorados'], axis=1, inplace=True)

dfObitosRegistroCivil.drop([22], inplace=True)
dfObitosCenso.drop([22], inplace=True)
dfObitosSIM.drop([22], inplace=True)
dfPop.drop([22], inplace=True)

In [9]:
dfPop.to_csv("dados/Pop-2010-AM-Censo-Ajustado.csv", sep=";", index=False)
dfPop

               Idade  Homens  Mulheres
0     Menos de 1 ano   36368     36618
1         1 a 4 anos  151798    146582
2         5 a 9 anos  195995    188287
3       10 a 14 anos  203418    197279
4       15 a 19 anos  182546    182215
5       20 a 24 anos  170242    169198
6       25 a 29 anos  161273    162253
7       30 a 34 anos  142710    143038
8       35 a 39 anos  116794    115961
9       40 a 44 anos   98058     93727
10      45 a 49 anos   80209     77188
11      50 a 54 anos   64117     61295
12      55 a 59 anos   47832     48812
13      60 a 64 anos   35546     35018
14      65 a 69 anos   24907     25659
15      70 a 74 anos   17698     18746
16      75 a 79 anos   11799     13293
17      80 a 84 anos    6812      8358
18      85 a 89 anos    3002      4083
19      90 a 94 anos    1478      2072
20      95 a 99 anos     468       972
21  100 anos ou mais     108       155

In [10]:
dfObitosRegistroCivil.to_csv("dados/Obitos-2010-AM-Registro-Civil-Ajustado.csv", sep=";", index=False)
dfObitosRegistroCivil

               Idade  Homens  Mulheres
0     Menos de 1 ano   359.6     278.3
1         1 a 4 anos   120.2      96.1
2         5 a 9 anos    60.1      42.1
3       10 a 14 anos    74.1      62.1
4       15 a 19 anos   267.5      98.1
5       20 a 24 anos   436.8     102.1
6       25 a 29 anos   519.9     175.2
7       30 a 34 anos   382.7     176.2
8       35 a 39 anos   398.7     206.3
9       40 a 44 anos   334.6     157.2
10      45 a 49 anos   346.6     239.3
11      50 a 54 anos   417.7     244.3
12      55 a 59 anos   516.9     325.4
13      60 a 64 anos   489.9     308.4
14      65 a 69 anos   529.9     372.5
15      70 a 74 anos   546.0     400.5
16      75 a 79 anos   544.0     408.5
17      80 a 84 anos   450.8     405.5
18      85 a 89 anos   329.6     336.4
19      90 a 94 anos   189.3     225.3
20      95 a 99 anos    79.1     110.1
21  100 anos ou mais    26.0      33.0

In [11]:
dfObitosCenso.to_csv("dados/Obitos-2010-AM-Censo-Ajustado.csv", sep=";", index=False)
dfObitosCenso

               Idade  Homens  Mulheres
0     Menos de 1 ano   654.2     553.1
1         1 a 4 anos   256.1     188.0
2         5 a 9 anos   108.0      80.0
3       10 a 14 anos   105.0      81.0
4       15 a 19 anos   350.1     147.0
5       20 a 24 anos   475.1     140.0
6       25 a 29 anos   455.1     144.0
7       30 a 34 anos   380.1     160.0
8       35 a 39 anos   345.1     184.0
9       40 a 44 anos   329.1     207.0
10      45 a 49 anos   351.1     229.0
11      50 a 54 anos   414.1     287.0
12      55 a 59 anos   468.1     309.1
13      60 a 64 anos   557.1     359.1
14      65 a 69 anos   525.1     428.1
15      70 a 74 anos   661.2     478.1
16      75 a 79 anos   673.2     467.1
17      80 a 84 anos   500.1     522.1
18      85 a 89 anos   420.1     452.1
19      90 a 94 anos   180.0     240.0
20      95 a 99 anos   100.0     198.0
21  100 anos ou mais    32.0      76.0

In [12]:
dfObitosSIM.to_csv("dados/Obitos-2010-AM-SIM-Ajustado.csv", sep=";",index=False)
dfObitosSIM

               Idade  Homens  Mulheres
0     Menos de 1 ano   661.6     518.4
1         1 a 4 anos   158.4     140.1
2         5 a 9 anos    73.2      59.0
3       10 a 14 anos    77.2      64.0
4       15 a 19 anos   291.7      98.1
5       20 a 24 anos   475.2      99.1
6       25 a 29 anos   440.1     124.1
7       30 a 34 anos   374.9     160.1
8       35 a 39 anos   365.9     145.1
9       40 a 44 anos   356.9     179.1
10      45 a 49 anos   390.0     231.1
11      50 a 54 anos   448.1     272.2
12      55 a 59 anos   491.2     284.2
13      60 a 64 anos   546.4     321.2
14      65 a 69 anos   517.3     349.2
15      70 a 74 anos   609.5     455.3
16      75 a 79 anos   598.5     439.3
17      80 a 84 anos  1188.9    1292.7
18      85 a 89 anos     0.0       0.0
19      90 a 94 anos     0.0       0.0
20      95 a 99 anos     0.0       0.0
21  100 anos ou mais     0.0       0.0